<div class="tableHolder">
  <table class="writeTable">
    <% if(ensaios.length> 0) { %>
      <tr>
        <th class="cerq"><a href='/sortByNum'>#</a></th>
        <th class="data"><a href='/'>Data</a></th>
        <th class="pagamento">Pagamento</th>
        <th class="ensaio">Ensaio</th>
        <th class="cliente"><a href='/sortByName'>Cliente</a></th>
        <th class="valor"><a href='/sortByValor'>Valor</a></th>
        <th class="locacao">Locacao</th>
        <th class="lucro"><a href='/sortByLucro'>Lucro</a></th>
        <th class="local">Local</th>
        <th class="descricao">Descricao</th>
        <th class="status"><a href='/sortByStatus'>Status</a></th>
        <th>
          <div class="edit-holder">
        </th>
        <th>
          <div class="delete-holder">
        </th>
      </tr>

      <% for(let ensaio of ensaios) { %>
        <% if( user.email === ensaio.criadoPor) { %> 
          <tr>
          <td class="cerq">
            <%= ensaio.numero %>
          </td>
          <td class="data">
            <%= ensaio.data %>
          </td>
          <td class="pagamento">
            <%= ensaio.pagamento %>
          </td>
          <td class="ensaio">
            <%= ensaio.ensaio %>
          </td>
          <td class="cliente">
            <%= ensaio.cliente %>
          </td>
          <td class="valor">
            <%= ensaio.valor %>
          </td>
          <td class="locacao">
            <%= ensaio.locacao %>
          </td>
          <td class="lucro">
            <%= ensaio.lucro %>
          </td>
          <td class="local">
            <%= ensaio.local %>
          </td>
          <td class="descricao">
            <%= ensaio.descricao %>
          </td>
          <td class="status">
            <%= ensaio.status %>
          </td>
          <td>
            <div class="edit-holder"><a href="/ensaios/edit/<%= ensaio._id%>"><img class="edit-icon"
                  src="/assets/svg/icons8-edit-64.svg"></a></div>
          </td>
          <td>
            <div class="delete-holder"><a href="/ensaios/delete/<%= ensaio._id%>"><img class="delete-icon"
                  src="/assets/svg/icons8-delete.svg"></a></div>
          </td>
          </tr>
          <%}%>
            <%}%>

              <% } else { %>
                <div class="sem-ensaios">Você não tem ensaios registrados. Adicione um ensaio para começar!</div>
                <% } %>
  </table>
</div>